.contactUs {
  form {
    padding: 20px;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  button[type='submit'] {
    margin-top: 30px;
    margin-left: 30px;
    width: fit-content;
    background: transparent;
    border: 1px solid #f0a6cb;
    padding: 0.8rem 2.5rem;
    border-radius: 32px;

    &:focus {
      background-color: transparent;
      border: 1px solid #f0a6cb;
    }
    svg {
      margin-left: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .contactUs {
    form {
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
    }
  }
}
