.featureCard {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  .infoGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    max-width: 500px;
    .title {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .description {
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
  .image {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    max-height: 350px;
  }
}

@media (min-width: 768px) {
  .featureCard {
    flex-direction: row;
    justify-content: space-between;
    .infoGroup {
      text-align: start;
      align-items: flex-start;
    }
    .image {
      width: 50%;
      height: fit-content;
    }
    &.reverse {
      flex-direction: row-reverse;
      .infoGroup {
        align-items: flex-end;
        text-align: end;
      }
    }
  }
}
