.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 10px;
  text-align: center;
  .image {
    width: 100%;
    max-width: 200px;
    height: fit-content;
    max-height: 200px;
  }
  .description {
    font-size: 1.2rem;
    font-weight: 300;
  }
}
